* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Enforce no-scroll */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #1a1a1a;
}
